/* Font Imports */

/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Dancing Script  (No Italics)*/ 
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
/* Rajdhani */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

body {
    background-color: aliceblue;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    background-color: blanchedalmond;
    font-family: "Dancing Script"
}

    section {
        position: relative;
        top: 20px;
        border: solid black 1px;

       
    }


/* Colors */

#colours {
    position: relative;
    top: 40px;
    
}



p.color {
    display: inline-block;
    padding: 10px auto;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 14px 10px;
    border: solid black 1px;
    font-family: Rajdhani;
}

#pomegranate  {
    background-color: #CD6155;
    
}


#amethyst {
    background-color: #AF7AC5;
}

#peter-river {
    background-color: #5DADE2;
}

#emerald {
    background-color: #2ECC71;
}

#sunflower {
    background-color: #F1C40F;
}

#orange {
    background-color: #F39C12;
}

#pumpkin {
    background-color: #D35400;
    color: azure;
}

#midnight-blue {
    background-color: #2C3E50;
    color: azure;
}

h2.colours {
    position: relative;
    top: 60px;
}

/* Fonts */

.fontbox {
    position: relative;
    top: 0;
    display: inline-block;
    border: solid 1px black;
    padding: 12px;
    margin: 12px;
}

#rubik {
    font-family: Rubik;
}

#work-sans {
    font-family: "Work Sans";
}

#dancing-script {
    font-family: "Dancing Script";
}

#rajdhani {
    font-family: Rajdhani;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    position: relative;
    top: 40px;
    font-family: Rubik;
}

