body {
    background-color: aliceblue;
}

header {
    position: fixed;
    top: 0;
    width: 100%
}

#colours {
    position: relative;
    top: 30px;
    
}

section {
    border: solid black 1px;
}

p.color {
    display: inline-block;
    align-items: center;
    padding: 10px auto;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 14px auto;
    border: solid black 1px;
}

#pomegranate  {
    background-color: #CD6155;
    
}


#amethyst {
    background-color: #AF7AC5;
}

#peter-river {
    background-color: #5DADE2;
}

#emerald {
    background-color: #2ECC71;
}

#sunflower {
    background-color: #F1C40F;
}

#orange {
    background-color: #F39C12;
}

#pumpkin {
    background-color: #D35400;
}

#midnight-blue {
    background-color: #2C3E50;
    color: azure;
}

p {
    padding: 10px;
    margin: 10px;
}


h1 {
    text-align: center;
}

h2 {
    text-align: left;
    position: relative;
    top: 20px;
}

h2.colours {
    position: relative;
    top: 50px;
}